<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DataLogMapper">
  <resultMap id="BaseResultMap" type="com.data.bean.DataLog">
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="sys_id" jdbcType="VARCHAR" property="sysId" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="log_date" jdbcType="DATE" property="logDate" />
    <result column="log_remark" jdbcType="VARCHAR" property="logRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    region, sys_id, sys_name, log_date, log_remark
  </sql>

  <sql id="Base_condition">
      <if test="sysId != null and sysId != ''">
        AND sys_id = #{sysId}
      </if>
      <if test="sysName != null and sysName != ''">
        AND sys_name = #{sysName}
      </if>
      <if test="logDate != null and logDate != ''">
        AND log_date = #{logDate} 
      </if>
  </sql>

  <!-- <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_data_log
    where id = #{id,jdbcType=INTEGER}
  </select> -->

  <select id="queryDataLogByCondition" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include>
    FROM db_data_log
    WHERE 1=1 
    <include refid="Base_condition"></include>
    ORDER BY log_date DESC
    <if test="pageNum != null and pageSize != null">
        LIMIT #{pageNum}, #{pageSize}
    </if>
  </select>

  <select id="queryCountDataLog" resultType="int" parameterType="map">
    SELECT COUNT(1) FROM db_data_log
    WHERE 1=1
    <include refid="Base_condition"></include>
  </select>

  <delete id="deleteAll">
    delete from db_data_log
  </delete>
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_data_log
    where id = #{id,jdbcType=INTEGER}
  </delete> -->
  <insert id="insert" parameterType="com.data.bean.DataLog">
    insert into db_data_log (region, sys_id, 
      sys_name, log_date, log_remark
      )
    values (#{region,jdbcType=VARCHAR}, #{sysId,jdbcType=VARCHAR}, 
      #{sysName,jdbcType=VARCHAR}, #{logDate,jdbcType=DATE}, #{logRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.DataLog">
    insert into db_data_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="region != null">
        region,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="logDate != null">
        log_date,
      </if>
      <if test="logRemark != null">
        log_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="logDate != null">
        #{logDate,jdbcType=DATE},
      </if>
      <if test="logRemark != null">
        #{logRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.DataLog">
    update db_data_log
    <set>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="logDate != null">
        log_date = #{logDate,jdbcType=DATE},
      </if>
      <if test="logRemark != null">
        log_remark = #{logRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.DataLog">
    update db_data_log
    set region = #{region,jdbcType=VARCHAR},
      sys_id = #{sysId,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      log_date = #{logDate,jdbcType=DATE},
      log_remark = #{logRemark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update> -->
</mapper>