<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderMapper" >
  <resultMap id="BaseResultMap" type="com.data.bean.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_id" property="sysId" jdbcType="CHAR" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="province_area" property="provinceArea" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="receipt_code" property="receiptCode" jdbcType="VARCHAR" />
    <result column="simple_code" property="simpleCode" jdbcType="VARCHAR" />
    <result column="simple_bar_code" property="simpleBarCode" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="simple_name" property="simpleName" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="box_standard" property="boxStandard" jdbcType="VARCHAR" />
    <result column="simple_amount" property="simpleAmount" jdbcType="DECIMAL" />
    <result column="buying_price_with_rate" property="buyingPriceWithRate" jdbcType="DECIMAL" />
    <result column="buying_price" property="buyingPrice" jdbcType="DECIMAL" />
    <result column="deliver_start_date" property="deliverStartDate" jdbcType="DATE" />
    <result column="deliver_end_date" property="deliverEndDate" jdbcType="DATE" />
    <result column="deliver_address" property="deliverAddress" jdbcType="VARCHAR" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="discount_start_date" property="discountStartDate" jdbcType="DATE" />
    <result column="discount_end_date" property="discountEndDate" jdbcType="DATE" />
    <result column="order_effective_judge" property="orderEffectiveJudge" jdbcType="VARCHAR" />
    <result column="balance_way" property="balanceWay" jdbcType="VARCHAR" />
    <result column="diff_price_discount" property="diffPriceDiscount" jdbcType="DECIMAL" />
    <result column="diff_price_discount_total" property="diffPriceDiscountTotal" jdbcType="DECIMAL" />
    <result column="discount_alarm_flag" property="discountAlarmFlag" jdbcType="VARCHAR" />
    <result column="contract_price" property="contractPrice" jdbcType="DECIMAL" />
    <result column="diff_price_contract" property="diffPriceContract" jdbcType="DECIMAL" />
    <result column="diff_price_contract_total" property="diffPriceContractTotal" jdbcType="DECIMAL" />
    <result column="contract_alarm_flag" property="contractAlarmFlag" jdbcType="VARCHAR" />
    <result column="diff_price" property="diffPrice" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_id, sys_name, region, province_area, store_code, store_name, receipt_code, 
    simple_code, simple_bar_code, stock_code, simple_name, tax_rate, box_standard, simple_amount, 
    buying_price_with_rate, buying_price, deliver_start_date, deliver_end_date, deliver_address, 
    discount_price, discount_start_date, discount_end_date, order_effective_judge, balance_way, 
    diff_price_discount, diff_price_discount_total, discount_alarm_flag, contract_price, 
    diff_price_contract, diff_price_contract_total, contract_alarm_flag, diff_price, remark
  </sql>
  <sql id="Column_List" >
    o.id, o.sys_id, o.sys_name, o.region, o.province_area, o.store_code, o.store_name, o.receipt_code, 
    o.simple_code, o.simple_bar_code, o.stock_code, o.simple_name, o.tax_rate, o.box_standard, o.simple_amount, 
    o.buying_price_with_rate, o.buying_price, o.deliver_start_date, o.deliver_end_date, o.deliver_address, 
    o.discount_price, o.discount_start_date, o.discount_end_date, o.order_effective_judge, o.balance_way, 
    o.diff_price_discount, o.diff_price_discount_total, o.discount_alarm_flag, o.contract_price, 
    o.diff_price_contract, o.diff_price_contract_total, o.contract_alarm_flag, o.diff_price, o.remark
  </sql>
  <sql id="Query_Condition">
  	<if test="sysId != null and sysId != ''">
  		AND sys_id = #{sysId}
  	</if>
  	<if test="storeCode != null and storeCode != ''">
  		AND store_code = #{storeCode}
  	</if>
  	<if test="simpleBarCode != null and simpleBarCode != ''">
  		AND simple_bar_code = #{simpleBarCode}
  	</if>
  	<if test="region != null and region != ''">
  		AND region = #{region}
  	</if>
  	<if test="provinceArea != null and provinceArea != ''">
  		AND province_area = #{provinceArea}
  	</if>
  	<if test="receiptCode != null and receiptCode != ''">
  		AND receipt_code = #{receiptCode}
  	</if>
  	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
  		AND deliver_start_date &lt;= #{endDate}
  		AND deliver_start_date &gt;= #{startDate}
  	</if>
  	<if test="queryDate != null and queryDate != ''">
  		AND deliver_start_date = #{queryDate}
  	</if>
  </sql>
  <select id="selectByAnyColumn" resultMap = "BaseResultMap" parameterType="map">
  	SELECT ${column}
  	FROM db_order
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="map">
  	SELECT <include refid="Column_List"></include>
  	FROM db_order o
  	INNER JOIN (
  		SELECT ID
  		FROM db_order
  		WHERE 1=1
  		<include refid="Query_Condition"></include>
  		<if test="pageNum != null and pageSize != null">
  			LIMIT #{pageNum}, #{pageSize}
  		</if>
  	)t ON(o.ID = t.ID)
  </select>
  <select id="selectCountByCondition" resultType="int" parameterType="map">
  	SELECT COUNT(1)
  	FROM db_order
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.Order" >
    insert into db_order (id, sys_id, sys_name, 
      region, province_area, store_code, 
      store_name, receipt_code, simple_code, 
      simple_bar_code, stock_code, simple_name, 
      tax_rate, box_standard, simple_amount, 
      buying_price_with_rate, buying_price, deliver_start_date, 
      deliver_end_date, deliver_address, discount_price, 
      discount_start_date, discount_end_date, order_effective_judge, 
      balance_way, diff_price_discount, diff_price_discount_total, 
      discount_alarm_flag, contract_price, diff_price_contract, 
      diff_price_contract_total, contract_alarm_flag, 
      diff_price, remark)
    values (#{id,jdbcType=INTEGER}, #{sysId,jdbcType=CHAR}, #{sysName,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{provinceArea,jdbcType=VARCHAR}, #{storeCode,jdbcType=VARCHAR}, 
      #{storeName,jdbcType=VARCHAR}, #{receiptCode,jdbcType=VARCHAR}, #{simpleCode,jdbcType=VARCHAR}, 
      #{simpleBarCode,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, #{simpleName,jdbcType=VARCHAR}, 
      #{taxRate,jdbcType=DECIMAL}, #{boxStandard,jdbcType=VARCHAR}, #{simpleAmount,jdbcType=DECIMAL}, 
      #{buyingPriceWithRate,jdbcType=DECIMAL}, #{buyingPrice,jdbcType=DECIMAL}, #{deliverStartDate,jdbcType=DATE}, 
      #{deliverEndDate,jdbcType=DATE}, #{deliverAddress,jdbcType=VARCHAR}, #{discountPrice,jdbcType=DECIMAL}, 
      #{discountStartDate,jdbcType=DATE}, #{discountEndDate,jdbcType=DATE}, #{orderEffectiveJudge,jdbcType=VARCHAR}, 
      #{balanceWay,jdbcType=VARCHAR}, #{diffPriceDiscount,jdbcType=DECIMAL}, #{diffPriceDiscountTotal,jdbcType=DECIMAL}, 
      #{discountAlarmFlag,jdbcType=VARCHAR}, #{contractPrice,jdbcType=DECIMAL}, #{diffPriceContract,jdbcType=DECIMAL}, 
      #{diffPriceContractTotal,jdbcType=DECIMAL}, #{contractAlarmFlag,jdbcType=VARCHAR}, 
      #{diffPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="list" >
    insert into db_order (id, sys_id, sys_name, 
      region, province_area, store_code, 
      store_name, receipt_code, simple_code, 
      simple_bar_code, stock_code, simple_name, 
      tax_rate, box_standard, simple_amount, 
      buying_price_with_rate, buying_price, deliver_start_date, 
      deliver_end_date, deliver_address, discount_price, 
      discount_start_date, discount_end_date, order_effective_judge, 
      balance_way, diff_price_discount, diff_price_discount_total, 
      discount_alarm_flag, contract_price, diff_price_contract, 
      diff_price_contract_total, contract_alarm_flag, 
      diff_price, remark)
    values 
    <foreach collection="list" item="order" separator=",">
    (#{order.id,jdbcType=INTEGER}, #{order.sysId,jdbcType=CHAR}, #{order.sysName,jdbcType=VARCHAR}, 
      #{order.region,jdbcType=VARCHAR}, #{order.provinceArea,jdbcType=VARCHAR}, #{order.storeCode,jdbcType=VARCHAR}, 
      #{order.storeName,jdbcType=VARCHAR}, #{order.receiptCode,jdbcType=VARCHAR}, #{order.simpleCode,jdbcType=VARCHAR}, 
      #{order.simpleBarCode,jdbcType=VARCHAR}, #{order.stockCode,jdbcType=VARCHAR}, #{order.simpleName,jdbcType=VARCHAR}, 
      #{order.taxRate,jdbcType=DECIMAL}, #{order.boxStandard,jdbcType=VARCHAR}, #{order.simpleAmount,jdbcType=DECIMAL}, 
      #{order.buyingPriceWithRate,jdbcType=DECIMAL}, #{order.buyingPrice,jdbcType=DECIMAL}, #{order.deliverStartDate,jdbcType=DATE}, 
      #{order.deliverEndDate,jdbcType=DATE}, #{order.deliverAddress,jdbcType=VARCHAR}, #{order.discountPrice,jdbcType=DECIMAL}, 
      #{order.discountStartDate,jdbcType=DATE}, #{order.discountEndDate,jdbcType=DATE}, #{order.orderEffectiveJudge,jdbcType=VARCHAR}, 
      #{order.balanceWay,jdbcType=VARCHAR}, #{order.diffPriceDiscount,jdbcType=DECIMAL}, #{order.diffPriceDiscountTotal,jdbcType=DECIMAL}, 
      #{order.discountAlarmFlag,jdbcType=VARCHAR}, #{order.contractPrice,jdbcType=DECIMAL}, #{order.diffPriceContract,jdbcType=DECIMAL}, 
      #{order.diffPriceContractTotal,jdbcType=DECIMAL}, #{order.contractAlarmFlag,jdbcType=VARCHAR}, 
      #{order.diffPrice,jdbcType=DECIMAL}, #{order.remark,jdbcType=VARCHAR})
      </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.Order" >
    insert into db_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="sysName != null" >
        sys_name,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="provinceArea != null" >
        province_area,
      </if>
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="receiptCode != null" >
        receipt_code,
      </if>
      <if test="simpleCode != null" >
        simple_code,
      </if>
      <if test="simpleBarCode != null" >
        simple_bar_code,
      </if>
      <if test="stockCode != null" >
        stock_code,
      </if>
      <if test="simpleName != null" >
        simple_name,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="boxStandard != null" >
        box_standard,
      </if>
      <if test="simpleAmount != null" >
        simple_amount,
      </if>
      <if test="buyingPriceWithRate != null" >
        buying_price_with_rate,
      </if>
      <if test="buyingPrice != null" >
        buying_price,
      </if>
      <if test="deliverStartDate != null" >
        deliver_start_date,
      </if>
      <if test="deliverEndDate != null" >
        deliver_end_date,
      </if>
      <if test="deliverAddress != null" >
        deliver_address,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="discountStartDate != null" >
        discount_start_date,
      </if>
      <if test="discountEndDate != null" >
        discount_end_date,
      </if>
      <if test="orderEffectiveJudge != null" >
        order_effective_judge,
      </if>
      <if test="balanceWay != null" >
        balance_way,
      </if>
      <if test="diffPriceDiscount != null" >
        diff_price_discount,
      </if>
      <if test="diffPriceDiscountTotal != null" >
        diff_price_discount_total,
      </if>
      <if test="discountAlarmFlag != null" >
        discount_alarm_flag,
      </if>
      <if test="contractPrice != null" >
        contract_price,
      </if>
      <if test="diffPriceContract != null" >
        diff_price_contract,
      </if>
      <if test="diffPriceContractTotal != null" >
        diff_price_contract_total,
      </if>
      <if test="contractAlarmFlag != null" >
        contract_alarm_flag,
      </if>
      <if test="diffPrice != null" >
        diff_price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="sysName != null" >
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null" >
        #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="receiptCode != null" >
        #{receiptCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleCode != null" >
        #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null" >
        #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="boxStandard != null" >
        #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="simpleAmount != null" >
        #{simpleAmount,jdbcType=DECIMAL},
      </if>
      <if test="buyingPriceWithRate != null" >
        #{buyingPriceWithRate,jdbcType=DECIMAL},
      </if>
      <if test="buyingPrice != null" >
        #{buyingPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliverStartDate != null" >
        #{deliverStartDate,jdbcType=DATE},
      </if>
      <if test="deliverEndDate != null" >
        #{deliverEndDate,jdbcType=DATE},
      </if>
      <if test="deliverAddress != null" >
        #{deliverAddress,jdbcType=VARCHAR},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountStartDate != null" >
        #{discountStartDate,jdbcType=DATE},
      </if>
      <if test="discountEndDate != null" >
        #{discountEndDate,jdbcType=DATE},
      </if>
      <if test="orderEffectiveJudge != null" >
        #{orderEffectiveJudge,jdbcType=VARCHAR},
      </if>
      <if test="balanceWay != null" >
        #{balanceWay,jdbcType=VARCHAR},
      </if>
      <if test="diffPriceDiscount != null" >
        #{diffPriceDiscount,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceDiscountTotal != null" >
        #{diffPriceDiscountTotal,jdbcType=DECIMAL},
      </if>
      <if test="discountAlarmFlag != null" >
        #{discountAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        #{contractPrice,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContract != null" >
        #{diffPriceContract,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContractTotal != null" >
        #{diffPriceContractTotal,jdbcType=DECIMAL},
      </if>
      <if test="contractAlarmFlag != null" >
        #{contractAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="diffPrice != null" >
        #{diffPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.Order" >
    update db_order
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="sysName != null" >
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null" >
        province_area = #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        store_code = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="receiptCode != null" >
        receipt_code = #{receiptCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleCode != null" >
        simple_code = #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null" >
        simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="boxStandard != null" >
        box_standard = #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="simpleAmount != null" >
        simple_amount = #{simpleAmount,jdbcType=DECIMAL},
      </if>
      <if test="buyingPriceWithRate != null" >
        buying_price_with_rate = #{buyingPriceWithRate,jdbcType=DECIMAL},
      </if>
      <if test="buyingPrice != null" >
        buying_price = #{buyingPrice,jdbcType=DECIMAL},
      </if>
      <if test="deliverStartDate != null" >
        deliver_start_date = #{deliverStartDate,jdbcType=DATE},
      </if>
      <if test="deliverEndDate != null" >
        deliver_end_date = #{deliverEndDate,jdbcType=DATE},
      </if>
      <if test="deliverAddress != null" >
        deliver_address = #{deliverAddress,jdbcType=VARCHAR},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountStartDate != null" >
        discount_start_date = #{discountStartDate,jdbcType=DATE},
      </if>
      <if test="discountEndDate != null" >
        discount_end_date = #{discountEndDate,jdbcType=DATE},
      </if>
      <if test="orderEffectiveJudge != null" >
        order_effective_judge = #{orderEffectiveJudge,jdbcType=VARCHAR},
      </if>
      <if test="balanceWay != null" >
        balance_way = #{balanceWay,jdbcType=VARCHAR},
      </if>
      <if test="diffPriceDiscount != null" >
        diff_price_discount = #{diffPriceDiscount,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceDiscountTotal != null" >
        diff_price_discount_total = #{diffPriceDiscountTotal,jdbcType=DECIMAL},
      </if>
      <if test="discountAlarmFlag != null" >
        discount_alarm_flag = #{discountAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        contract_price = #{contractPrice,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContract != null" >
        diff_price_contract = #{diffPriceContract,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContractTotal != null" >
        diff_price_contract_total = #{diffPriceContractTotal,jdbcType=DECIMAL},
      </if>
      <if test="contractAlarmFlag != null" >
        contract_alarm_flag = #{contractAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="diffPrice != null" >
        diff_price = #{diffPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.Order" >
    update db_order
    set sys_id = #{sysId,jdbcType=CHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      province_area = #{provinceArea,jdbcType=VARCHAR},
      store_code = #{storeCode,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      receipt_code = #{receiptCode,jdbcType=VARCHAR},
      simple_code = #{simpleCode,jdbcType=VARCHAR},
      simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      box_standard = #{boxStandard,jdbcType=VARCHAR},
      simple_amount = #{simpleAmount,jdbcType=DECIMAL},
      buying_price_with_rate = #{buyingPriceWithRate,jdbcType=DECIMAL},
      buying_price = #{buyingPrice,jdbcType=DECIMAL},
      deliver_start_date = #{deliverStartDate,jdbcType=DATE},
      deliver_end_date = #{deliverEndDate,jdbcType=DATE},
      deliver_address = #{deliverAddress,jdbcType=VARCHAR},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      discount_start_date = #{discountStartDate,jdbcType=DATE},
      discount_end_date = #{discountEndDate,jdbcType=DATE},
      order_effective_judge = #{orderEffectiveJudge,jdbcType=VARCHAR},
      balance_way = #{balanceWay,jdbcType=VARCHAR},
      diff_price_discount = #{diffPriceDiscount,jdbcType=DECIMAL},
      diff_price_discount_total = #{diffPriceDiscountTotal,jdbcType=DECIMAL},
      discount_alarm_flag = #{discountAlarmFlag,jdbcType=VARCHAR},
      contract_price = #{contractPrice,jdbcType=DECIMAL},
      diff_price_contract = #{diffPriceContract,jdbcType=DECIMAL},
      diff_price_contract_total = #{diffPriceContractTotal,jdbcType=DECIMAL},
      contract_alarm_flag = #{contractAlarmFlag,jdbcType=VARCHAR},
      diff_price = #{diffPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>