<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderMapper" >
  <resultMap id="BaseResultMap" type="com.data.bean.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="contract_code" property="contractCode" jdbcType="VARCHAR" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="good_bar_code" property="goodBarCode" jdbcType="VARCHAR" />
    <result column="good_code" property="goodCode" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="good_type" property="goodType" jdbcType="VARCHAR" />
    <result column="order_shop" property="orderShop" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="sell_price" property="sellPrice" jdbcType="DOUBLE" />
    <result column="count" property="count" jdbcType="DOUBLE" />
    <result column="simple_count" property="simpleCount" jdbcType="DOUBLE" />
    <result column="little_count" property="littleCount" jdbcType="DOUBLE" />
    <result column="real_count" property="realCount" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="stage_count" property="stageCount" jdbcType="VARCHAR" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="part_content" property="partContent" jdbcType="DOUBLE" />
    <result column="persent_num" property="persentNum" jdbcType="DOUBLE" />
    <result column="contain_tax_price" property="containTaxPrice" jdbcType="DOUBLE" />
    <result column="contain_tax_money" property="containTaxMoney" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, no, contract_code, good_name, good_bar_code, good_code, order_type, 
    good_type, order_shop, address, sell_price, count, simple_count, little_count, real_count, 
    unit, stage_count, order_state, end_time, create_time, operator_name, company_code, 
    brand, part_content, persent_num, contain_tax_price, contain_tax_money, remark
  </sql>
  <sql id="myBaseColumn">
  	id, order_id 'orderId', no, contract_code 'contractCode', good_name 'goodName', good_bar_code 'goodBarCode', good_code 'goodCode', order_type 'orderType', good_type 'goodType', 
    order_shop 'orderShop', address, sell_price 'sellPrice', count, simple_count 'simpleCount', little_count 'littleCount', real_count 'realCount', unit, 
    stage_count 'stageCount', order_state 'orderState', end_time 'endTime', create_time 'createTime', operator_name 'operatorName', company_code 'companyCode',
    brand, part_content 'partContent', persent_num 'persentNum', contain_tax_price 'containTaxPrice', contain_tax_money 'containTaxMoney', remark
  </sql>
  
  <select id="selectByParam" parameterType = "com.data.bean.Order" resultType="com.data.bean.Order">
  	SELECT <include refid="myBaseColumn" />
  	FROM db_order
  	WHERE 1=1
  	<if test="orderId != null and orderId != ''">
  		AND order_id = #{orderId}
  	</if>
  	<if test="goodBarCode != null and goodBarCode != ''">
  		AND good_bar_code = #{goodBarCode}
  	</if>
  	
  </select>
  <select id="selectByCondtion" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" />
  	FROM db_order
  	WHERE 1=1	
  	<if test="startDate != null and endDate != null">
  		AND create_time &gt;= #{startDate}
  		AND create_time &lt;= #{endDate}
  	</if> 
  	<if test="companyCode != '' and companyCode != null">
  		AND company_code = #{companyCode}
  	</if>
  	ORDER BY create_time DESC
  </select>
  <select id="selectCountByCondtion" parameterType="map" resultType="int">
  	SELECT COUNT(0)
  	FROM db_order
  	WHERE 1=1
  	<if test="startDate != null and endDate != null">
  		AND create_time &gt;= #{startDate}
  		AND create_time &lt;= #{endDate}
  	</if> 
  	<if test="companyCode != null and companyCode != ''">
  		AND company_code = #{companyCode}
  	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.Order" >
    insert into db_order (id, order_id, no, 
      contract_code, good_name, good_bar_code, 
      good_code, order_type, good_type, 
      order_shop, address, sell_price, 
      count, simple_count, little_count, 
      real_count, unit, stage_count, 
      order_state, end_time, create_time, 
      operator_name, company_code, brand, 
      part_content, persent_num, contain_tax_price, 
      contain_tax_money, remark)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, 
      #{contractCode,jdbcType=VARCHAR}, #{goodName,jdbcType=VARCHAR}, #{goodBarCode,jdbcType=VARCHAR}, 
      #{goodCode,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{goodType,jdbcType=VARCHAR}, 
      #{orderShop,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{sellPrice,jdbcType=DOUBLE}, 
      #{count,jdbcType=DOUBLE}, #{simpleCount,jdbcType=DOUBLE}, #{littleCount,jdbcType=DOUBLE}, 
      #{realCount,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR}, #{stageCount,jdbcType=VARCHAR}, 
      #{orderState,jdbcType=VARCHAR}, #{endTime,jdbcType=DATE}, #{createTime,jdbcType=DATE}, 
      #{operatorName,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{partContent,jdbcType=DOUBLE}, #{persentNum,jdbcType=DOUBLE}, #{containTaxPrice,jdbcType=DOUBLE}, 
      #{containTaxMoney,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertBatch" parameterType="list" >
    insert into db_order (id, order_id, no, 
      contract_code, good_name, good_bar_code, 
      good_code, order_type, good_type, 
      order_shop, address, sell_price, 
      count, simple_count, little_count, 
      real_count, unit, stage_count, 
      order_state, end_time, create_time, 
      operator_name, company_code, brand, 
      part_content, persent_num, contain_tax_price, 
      contain_tax_money, remark)
    values 
    <foreach collection="list" item="order" separator=",">
    	(#{order.id,jdbcType=INTEGER}, #{order.orderId,jdbcType=VARCHAR}, #{order.no,jdbcType=VARCHAR}, 
	      #{order.contractCode,jdbcType=VARCHAR}, #{order.goodName,jdbcType=VARCHAR}, #{order.goodBarCode,jdbcType=VARCHAR}, 
	      #{order.goodCode,jdbcType=VARCHAR}, #{order.orderType,jdbcType=VARCHAR}, #{order.goodType,jdbcType=VARCHAR}, 
	      #{order.orderShop,jdbcType=VARCHAR}, #{order.address,jdbcType=VARCHAR}, #{order.sellPrice,jdbcType=DOUBLE}, 
	      #{order.count,jdbcType=DOUBLE}, #{order.simpleCount,jdbcType=DOUBLE}, #{order.littleCount,jdbcType=DOUBLE}, 
	      #{order.realCount,jdbcType=DOUBLE}, #{order.unit,jdbcType=VARCHAR}, #{order.stageCount,jdbcType=VARCHAR}, 
	      #{order.orderState,jdbcType=VARCHAR}, #{order.endTime,jdbcType=DATE}, #{order.createTime,jdbcType=DATE}, 
	      #{order.operatorName,jdbcType=VARCHAR}, #{order.companyCode,jdbcType=VARCHAR}, #{order.brand,jdbcType=VARCHAR}, 
	      #{order.partContent,jdbcType=DOUBLE}, #{order.persentNum,jdbcType=DOUBLE}, #{order.containTaxPrice,jdbcType=DOUBLE}, 
	      #{order.containTaxMoney,jdbcType=DOUBLE}, #{order.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.data.bean.Order" >
    insert into db_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="contractCode != null" >
        contract_code,
      </if>
      <if test="goodName != null" >
        good_name,
      </if>
      <if test="goodBarCode != null" >
        good_bar_code,
      </if>
      <if test="goodCode != null" >
        good_code,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="goodType != null" >
        good_type,
      </if>
      <if test="orderShop != null" >
        order_shop,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="sellPrice != null" >
        sell_price,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="simpleCount != null" >
        simple_count,
      </if>
      <if test="littleCount != null" >
        little_count,
      </if>
      <if test="realCount != null" >
        real_count,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="stageCount != null" >
        stage_count,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="partContent != null" >
        part_content,
      </if>
      <if test="persentNum != null" >
        persent_num,
      </if>
      <if test="containTaxPrice != null" >
        contain_tax_price,
      </if>
      <if test="containTaxMoney != null" >
        contain_tax_money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodBarCode != null" >
        #{goodBarCode,jdbcType=VARCHAR},
      </if>
      <if test="goodCode != null" >
        #{goodCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        #{goodType,jdbcType=VARCHAR},
      </if>
      <if test="orderShop != null" >
        #{orderShop,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="count != null" >
        #{count,jdbcType=DOUBLE},
      </if>
      <if test="simpleCount != null" >
        #{simpleCount,jdbcType=DOUBLE},
      </if>
      <if test="littleCount != null" >
        #{littleCount,jdbcType=DOUBLE},
      </if>
      <if test="realCount != null" >
        #{realCount,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="stageCount != null" >
        #{stageCount,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="partContent != null" >
        #{partContent,jdbcType=DOUBLE},
      </if>
      <if test="persentNum != null" >
        #{persentNum,jdbcType=DOUBLE},
      </if>
      <if test="containTaxPrice != null" >
        #{containTaxPrice,jdbcType=DOUBLE},
      </if>
      <if test="containTaxMoney != null" >
        #{containTaxMoney,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.Order" >
    update db_order
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodBarCode != null" >
        good_bar_code = #{goodBarCode,jdbcType=VARCHAR},
      </if>
      <if test="goodCode != null" >
        good_code = #{goodCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        good_type = #{goodType,jdbcType=VARCHAR},
      </if>
      <if test="orderShop != null" >
        order_shop = #{orderShop,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        sell_price = #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
      <if test="simpleCount != null" >
        simple_count = #{simpleCount,jdbcType=DOUBLE},
      </if>
      <if test="littleCount != null" >
        little_count = #{littleCount,jdbcType=DOUBLE},
      </if>
      <if test="realCount != null" >
        real_count = #{realCount,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="stageCount != null" >
        stage_count = #{stageCount,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="partContent != null" >
        part_content = #{partContent,jdbcType=DOUBLE},
      </if>
      <if test="persentNum != null" >
        persent_num = #{persentNum,jdbcType=DOUBLE},
      </if>
      <if test="containTaxPrice != null" >
        contain_tax_price = #{containTaxPrice,jdbcType=DOUBLE},
      </if>
      <if test="containTaxMoney != null" >
        contain_tax_money = #{containTaxMoney,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByOrderIdSelective" parameterType="com.data.bean.Order">
  	update db_order
    <set >
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null" >
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodCode != null" >
        good_code = #{goodCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        good_type = #{goodType,jdbcType=VARCHAR},
      </if>
      <if test="orderShop != null" >
        order_shop = #{orderShop,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        sell_price = #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=DOUBLE},
      </if>
      <if test="simpleCount != null" >
        simple_count = #{simpleCount,jdbcType=DOUBLE},
      </if>
      <if test="littleCount != null" >
        little_count = #{littleCount,jdbcType=DOUBLE},
      </if>
      <if test="realCount != null" >
        real_count = #{realCount,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="stageCount != null" >
        stage_count = #{stageCount,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="partContent != null" >
        part_content = #{partContent,jdbcType=DOUBLE},
      </if>
      <if test="persentNum != null" >
        persent_num = #{persentNum,jdbcType=DOUBLE},
      </if>
      <if test="containTaxPrice != null" >
        contain_tax_price = #{containTaxPrice,jdbcType=DOUBLE},
      </if>
      <if test="containTaxMoney != null" >
        contain_tax_money = #{containTaxMoney,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where 
    	order_id = #{orderId,jdbcType=VARCHAR}
    	AND good_bar_code = #{goodBarCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.Order" >
    update db_order
    set order_id = #{orderId,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      good_bar_code = #{goodBarCode,jdbcType=VARCHAR},
      good_code = #{goodCode,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      good_type = #{goodType,jdbcType=VARCHAR},
      order_shop = #{orderShop,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      sell_price = #{sellPrice,jdbcType=DOUBLE},
      count = #{count,jdbcType=DOUBLE},
      simple_count = #{simpleCount,jdbcType=DOUBLE},
      little_count = #{littleCount,jdbcType=DOUBLE},
      real_count = #{realCount,jdbcType=DOUBLE},
      unit = #{unit,jdbcType=VARCHAR},
      stage_count = #{stageCount,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      part_content = #{partContent,jdbcType=DOUBLE},
      persent_num = #{persentNum,jdbcType=DOUBLE},
      contain_tax_price = #{containTaxPrice,jdbcType=DOUBLE},
      contain_tax_money = #{containTaxMoney,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>