<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RejectMapper" >
  <resultMap id="BaseResultMap" type="com.data.bean.Reject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_id" property="sysId" jdbcType="CHAR" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="reject_department_id" property="rejectDepartmentId" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="province_area" property="provinceArea" jdbcType="VARCHAR" />
    <result column="reject_department_name" property="rejectDepartmentName" jdbcType="VARCHAR" />
    <result column="receipt_code" property="receiptCode" jdbcType="VARCHAR" />
    <result column="simple_code" property="simpleCode" jdbcType="VARCHAR" />
    <result column="simple_bar_code" property="simpleBarCode" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="simple_name" property="simpleName" jdbcType="VARCHAR" />
    <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
    <result column="simple_amount" property="simpleAmount" jdbcType="DECIMAL" />
    <result column="reject_price_with_rate" property="rejectPriceWithRate" jdbcType="DECIMAL" />
    <result column="reject_price" property="rejectPrice" jdbcType="DECIMAL" />
    <result column="reject_date" property="rejectDate" jdbcType="DATE" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="discount_start_date" property="discountStartDate" jdbcType="DATE" />
    <result column="discount_end_date" property="discountEndDate" jdbcType="DATE" />
    <result column="diff_price_discount" property="diffPriceDiscount" jdbcType="DECIMAL" />
    <result column="diff_price_discount_total" property="diffPriceDiscountTotal" jdbcType="DECIMAL" />
    <result column="discount_alarm_flag" property="discountAlarmFlag" jdbcType="VARCHAR" />
    <result column="contract_price" property="contractPrice" jdbcType="DECIMAL" />
    <result column="diff_price_contract" property="diffPriceContract" jdbcType="DECIMAL" />
    <result column="diff_price_contract_total" property="diffPriceContractTotal" jdbcType="DECIMAL" />
    <result column="contract_alarm_flag" property="contractAlarmFlag" jdbcType="VARCHAR" />
    <result column="diff_price" property="diffPrice" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_id, sys_name, reject_department_id, region, province_area, reject_department_name, 
    receipt_code, simple_code, simple_bar_code, stock_code, simple_name, tax_rate, simple_amount, 
    reject_price_with_rate, reject_price, reject_date, discount_price, discount_start_date, 
    discount_end_date, diff_price_discount, diff_price_discount_total, discount_alarm_flag, 
    contract_price, diff_price_contract, diff_price_contract_total, contract_alarm_flag, 
    diff_price, remark
  </sql>
  <sql id="Column_List" >
    r.id, sys_id, r.sys_name, r.reject_department_id, r.region, r.province_area, r.reject_department_name, 
    r.receipt_code, r.simple_code, r.simple_bar_code, r.stock_code, r.simple_name, r.tax_rate, r.simple_amount, 
    r.reject_price_with_rate, r.reject_price, r.reject_date, r.discount_price, r.discount_start_date, 
    r.discount_end_date, r.diff_price_discount, r.diff_price_discount_total, r.discount_alarm_flag, 
    r.contract_price, r.diff_price_contract, r.diff_price_contract_total, r.contract_alarm_flag, 
    r.diff_price, r.remark
  </sql>
  <sql id="Query_Condition">
  	<if test="sysId != null and sysId != ''">
  		AND sys_id = #{sysId}
  	</if>
  	<if test="sysName != null and sysName != ''">
  		AND sys_name = #{sysName}
  	</if>
  	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
  		AND reject_date &lt;= #{endDate}
  		AND reject_date &gt;= #{startDate}
  	</if>
  	<if test="queryDate != null and queryDate != ''">
  		AND reject_date = #{queryDate}
  	</if>
  </sql>
  <select id="selectByAnyColumn" resultMap = "BaseResultMap" parameterType="map">
  	SELECT ${column}
  	FROM db_reject
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="map">
  	SELECT <include refid="Column_List"></include>
  	FROM db_reject r
  	INNER JOIN(
  		SELECT ID
  		FROM db_reject 
  		WHERE 1 = 1
  		<include refid="Query_Condition"></include>
  		<if test="pageNum != null and pageSize != null">
  			LIMIT #{pageNum}, #{pageSize}
  		</if>
  	)t ON(r.ID = t.ID)
  </select>
  <select id="selectCountByParam" resultType="int" parameterType="map">
  	SELECT COUNT(1)
  	FROM db_reject r
  	WHERE 1 = 1
  	<include refid="Query_Condition"></include>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_reject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_reject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.Reject" >
    insert into db_reject (id, sys_id, sys_name, 
      reject_department_id, region, province_area, 
      reject_department_name, receipt_code, simple_code, 
      simple_bar_code, stock_code, simple_name, 
      tax_rate, simple_amount, reject_price_with_rate, 
      reject_price, reject_date, discount_price, 
      discount_start_date, discount_end_date, diff_price_discount, 
      diff_price_discount_total, discount_alarm_flag, 
      contract_price, diff_price_contract, diff_price_contract_total, 
      contract_alarm_flag, diff_price, remark)
    values (#{id,jdbcType=INTEGER}, #{sysId,jdbcType=CHAR}, #{sysName,jdbcType=VARCHAR}, 
      #{rejectDepartmentId,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{provinceArea,jdbcType=VARCHAR}, 
      #{rejectDepartmentName,jdbcType=VARCHAR}, #{receiptCode,jdbcType=VARCHAR}, #{simpleCode,jdbcType=VARCHAR}, 
      #{simpleBarCode,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, #{simpleName,jdbcType=VARCHAR}, 
      #{taxRate,jdbcType=DECIMAL}, #{simpleAmount,jdbcType=DECIMAL}, #{rejectPriceWithRate,jdbcType=DECIMAL}, 
      #{rejectPrice,jdbcType=DECIMAL}, #{rejectDate,jdbcType=DATE}, #{discountPrice,jdbcType=DECIMAL}, 
      #{discountStartDate,jdbcType=DATE}, #{discountEndDate,jdbcType=DATE}, #{diffPriceDiscount,jdbcType=DECIMAL}, 
      #{diffPriceDiscountTotal,jdbcType=DECIMAL}, #{discountAlarmFlag,jdbcType=VARCHAR}, 
      #{contractPrice,jdbcType=DECIMAL}, #{diffPriceContract,jdbcType=DECIMAL}, #{diffPriceContractTotal,jdbcType=DECIMAL}, 
      #{contractAlarmFlag,jdbcType=VARCHAR}, #{diffPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertBatch" parameterType="list" >
    insert into db_reject (id, sys_id, sys_name, 
      reject_department_id, region, province_area, 
      reject_department_name, receipt_code, simple_code, 
      simple_bar_code, stock_code, simple_name, 
      tax_rate, simple_amount, reject_price_with_rate, 
      reject_price, reject_date, discount_price, 
      discount_start_date, discount_end_date, diff_price_discount, 
      diff_price_discount_total, discount_alarm_flag, 
      contract_price, diff_price_contract, diff_price_contract_total, 
      contract_alarm_flag, diff_price, remark)
    values 
    <foreach collection="list" item="reject" separator=",">
    (#{reject.id,jdbcType=INTEGER}, #{reject.sysId,jdbcType=CHAR}, #{reject.sysName,jdbcType=VARCHAR}, 
      #{reject.rejectDepartmentId,jdbcType=VARCHAR}, #{reject.region,jdbcType=VARCHAR}, #{reject.provinceArea,jdbcType=VARCHAR}, 
      #{reject.rejectDepartmentName,jdbcType=VARCHAR}, #{reject.receiptCode,jdbcType=VARCHAR}, #{reject.simpleCode,jdbcType=VARCHAR}, 
      #{reject.simpleBarCode,jdbcType=VARCHAR}, #{reject.stockCode,jdbcType=VARCHAR}, #{reject.simpleName,jdbcType=VARCHAR}, 
      #{reject.taxRate,jdbcType=DECIMAL}, #{reject.simpleAmount,jdbcType=DECIMAL}, #{reject.rejectPriceWithRate,jdbcType=DECIMAL}, 
      #{reject.rejectPrice,jdbcType=DECIMAL}, #{reject.rejectDate,jdbcType=DATE}, #{reject.discountPrice,jdbcType=DECIMAL}, 
      #{reject.discountStartDate,jdbcType=DATE}, #{reject.discountEndDate,jdbcType=DATE}, #{reject.diffPriceDiscount,jdbcType=DECIMAL}, 
      #{reject.diffPriceDiscountTotal,jdbcType=DECIMAL}, #{reject.discountAlarmFlag,jdbcType=VARCHAR}, 
      #{reject.contractPrice,jdbcType=DECIMAL}, #{reject.diffPriceContract,jdbcType=DECIMAL}, #{reject.diffPriceContractTotal,jdbcType=DECIMAL}, 
      #{reject.contractAlarmFlag,jdbcType=VARCHAR}, #{reject.diffPrice,jdbcType=DECIMAL}, #{reject.remark,jdbcType=VARCHAR})
     </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.Reject" >
    insert into db_reject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="sysName != null" >
        sys_name,
      </if>
      <if test="rejectDepartmentId != null" >
        reject_department_id,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="provinceArea != null" >
        province_area,
      </if>
      <if test="rejectDepartmentName != null" >
        reject_department_name,
      </if>
      <if test="receiptCode != null" >
        receipt_code,
      </if>
      <if test="simpleCode != null" >
        simple_code,
      </if>
      <if test="simpleBarCode != null" >
        simple_bar_code,
      </if>
      <if test="stockCode != null" >
        stock_code,
      </if>
      <if test="simpleName != null" >
        simple_name,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="simpleAmount != null" >
        simple_amount,
      </if>
      <if test="rejectPriceWithRate != null" >
        reject_price_with_rate,
      </if>
      <if test="rejectPrice != null" >
        reject_price,
      </if>
      <if test="rejectDate != null" >
        reject_date,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="discountStartDate != null" >
        discount_start_date,
      </if>
      <if test="discountEndDate != null" >
        discount_end_date,
      </if>
      <if test="diffPriceDiscount != null" >
        diff_price_discount,
      </if>
      <if test="diffPriceDiscountTotal != null" >
        diff_price_discount_total,
      </if>
      <if test="discountAlarmFlag != null" >
        discount_alarm_flag,
      </if>
      <if test="contractPrice != null" >
        contract_price,
      </if>
      <if test="diffPriceContract != null" >
        diff_price_contract,
      </if>
      <if test="diffPriceContractTotal != null" >
        diff_price_contract_total,
      </if>
      <if test="contractAlarmFlag != null" >
        contract_alarm_flag,
      </if>
      <if test="diffPrice != null" >
        diff_price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="sysName != null" >
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="rejectDepartmentId != null" >
        #{rejectDepartmentId,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null" >
        #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="rejectDepartmentName != null" >
        #{rejectDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="receiptCode != null" >
        #{receiptCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleCode != null" >
        #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null" >
        #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="simpleAmount != null" >
        #{simpleAmount,jdbcType=DECIMAL},
      </if>
      <if test="rejectPriceWithRate != null" >
        #{rejectPriceWithRate,jdbcType=DECIMAL},
      </if>
      <if test="rejectPrice != null" >
        #{rejectPrice,jdbcType=DECIMAL},
      </if>
      <if test="rejectDate != null" >
        #{rejectDate,jdbcType=DATE},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountStartDate != null" >
        #{discountStartDate,jdbcType=DATE},
      </if>
      <if test="discountEndDate != null" >
        #{discountEndDate,jdbcType=DATE},
      </if>
      <if test="diffPriceDiscount != null" >
        #{diffPriceDiscount,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceDiscountTotal != null" >
        #{diffPriceDiscountTotal,jdbcType=DECIMAL},
      </if>
      <if test="discountAlarmFlag != null" >
        #{discountAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        #{contractPrice,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContract != null" >
        #{diffPriceContract,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContractTotal != null" >
        #{diffPriceContractTotal,jdbcType=DECIMAL},
      </if>
      <if test="contractAlarmFlag != null" >
        #{contractAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="diffPrice != null" >
        #{diffPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.Reject" >
    update db_reject
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="sysName != null" >
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="rejectDepartmentId != null" >
        reject_department_id = #{rejectDepartmentId,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null" >
        province_area = #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="rejectDepartmentName != null" >
        reject_department_name = #{rejectDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="receiptCode != null" >
        receipt_code = #{receiptCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleCode != null" >
        simple_code = #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null" >
        simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="simpleAmount != null" >
        simple_amount = #{simpleAmount,jdbcType=DECIMAL},
      </if>
      <if test="rejectPriceWithRate != null" >
        reject_price_with_rate = #{rejectPriceWithRate,jdbcType=DECIMAL},
      </if>
      <if test="rejectPrice != null" >
        reject_price = #{rejectPrice,jdbcType=DECIMAL},
      </if>
      <if test="rejectDate != null" >
        reject_date = #{rejectDate,jdbcType=DATE},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountStartDate != null" >
        discount_start_date = #{discountStartDate,jdbcType=DATE},
      </if>
      <if test="discountEndDate != null" >
        discount_end_date = #{discountEndDate,jdbcType=DATE},
      </if>
      <if test="diffPriceDiscount != null" >
        diff_price_discount = #{diffPriceDiscount,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceDiscountTotal != null" >
        diff_price_discount_total = #{diffPriceDiscountTotal,jdbcType=DECIMAL},
      </if>
      <if test="discountAlarmFlag != null" >
        discount_alarm_flag = #{discountAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="contractPrice != null" >
        contract_price = #{contractPrice,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContract != null" >
        diff_price_contract = #{diffPriceContract,jdbcType=DECIMAL},
      </if>
      <if test="diffPriceContractTotal != null" >
        diff_price_contract_total = #{diffPriceContractTotal,jdbcType=DECIMAL},
      </if>
      <if test="contractAlarmFlag != null" >
        contract_alarm_flag = #{contractAlarmFlag,jdbcType=VARCHAR},
      </if>
      <if test="diffPrice != null" >
        diff_price = #{diffPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.Reject" >
    update db_reject
    set sys_id = #{sysId,jdbcType=CHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      reject_department_id = #{rejectDepartmentId,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      province_area = #{provinceArea,jdbcType=VARCHAR},
      reject_department_name = #{rejectDepartmentName,jdbcType=VARCHAR},
      receipt_code = #{receiptCode,jdbcType=VARCHAR},
      simple_code = #{simpleCode,jdbcType=VARCHAR},
      simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      simple_amount = #{simpleAmount,jdbcType=DECIMAL},
      reject_price_with_rate = #{rejectPriceWithRate,jdbcType=DECIMAL},
      reject_price = #{rejectPrice,jdbcType=DECIMAL},
      reject_date = #{rejectDate,jdbcType=DATE},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      discount_start_date = #{discountStartDate,jdbcType=DATE},
      discount_end_date = #{discountEndDate,jdbcType=DATE},
      diff_price_discount = #{diffPriceDiscount,jdbcType=DECIMAL},
      diff_price_discount_total = #{diffPriceDiscountTotal,jdbcType=DECIMAL},
      discount_alarm_flag = #{discountAlarmFlag,jdbcType=VARCHAR},
      contract_price = #{contractPrice,jdbcType=DECIMAL},
      diff_price_contract = #{diffPriceContract,jdbcType=DECIMAL},
      diff_price_contract_total = #{diffPriceContractTotal,jdbcType=DECIMAL},
      contract_alarm_flag = #{contractAlarmFlag,jdbcType=VARCHAR},
      diff_price = #{diffPrice,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>