<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StockMapper" >
  <resultMap id="BaseResultMap" type="com.data.bean.Stock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_id" property="sysId" jdbcType="CHAR" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="store_code" property="storeCode" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="province_area" property="provinceArea" jdbcType="VARCHAR" />
    <result column="ascription" property="ascription" jdbcType="CHAR" />
    <result column="ascription_sole" property="ascriptionSole" jdbcType="CHAR" />
    <result column="simple_code" property="simpleCode" jdbcType="VARCHAR" />
    <result column="simple_bar_code" property="simpleBarCode" jdbcType="VARCHAR" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="simple_name" property="simpleName" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="classify" property="classify" jdbcType="CHAR" />
    <result column="series" property="series" jdbcType="VARCHAR" />
    <result column="day_night" property="dayNight" jdbcType="VARCHAR" />
    <result column="material" property="material" jdbcType="VARCHAR" />
    <result column="pieces_num" property="piecesNum" jdbcType="INTEGER" />
    <result column="box_standard" property="boxStandard" jdbcType="VARCHAR" />
    <result column="stock_no" property="stockNo" jdbcType="VARCHAR" />
    <result column="stock_num" property="stockNum" jdbcType="INTEGER" />
    <result column="tax_cost_price" property="taxCostPrice" jdbcType="DOUBLE" />
    <result column="stock_price" property="stockPrice" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="local_name" property="localName" jdbcType="CHAR" />
  </resultMap>
  <!-- 按门店分组 -->
  <resultMap id="storeStockMap" type="com.data.model.StoreStockModel">
  	<result column="store_code" property="storeCode" jdbcType="VARCHAR"/>
  	<result column="store_name" property="storeName" jdbcType="VARCHAR" />
  	<collection property="stockList" ofType="com.data.bean.Stock" resultMap="BaseResultMap">
  	</collection>
  </resultMap>
  <!-- 按大区分组 -->
  <resultMap id="regionStockMap" type="com.data.model.RegionStockModel">
  	<id column="region" property="region" jdbcType="VARCHAR"/>
  	<collection property="stockList" ofType="com.data.bean.Stock" resultMap="BaseResultMap">
  	</collection>
  </resultMap>
  <!-- 按系统分组 -->
  <resultMap id="sysStockMap" type="com.data.model.SysStockModel">
  	<id column="sys_id" property="sysId" jdbcType="VARCHAR"/>
  	<id column="sys_name" property="sysName" jdbcType="VARCHAR"/>
  	<collection property="stockList" ofType="com.data.bean.Stock" resultMap="BaseResultMap">
  	</collection>
  </resultMap>
  <!-- 按省区分组 -->
  <resultMap id="provinceAreaStockMap" type="com.data.model.ProvinceAreaStockModel">
  	<id column="province_area" property="provinceArea" jdbcType="VARCHAR"/>
  	<collection property="stockList" ofType="com.data.bean.Stock" resultMap="BaseResultMap">
  	</collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_id, sys_name, store_code, store_name, region, province_area, ascription, 
    ascription_sole, simple_code, simple_bar_code, stock_code, simple_name, brand, classify, 
    series, day_night, material, pieces_num, box_standard, stock_no, stock_num, tax_cost_price, 
    stock_price, create_time, remark, local_name
  </sql>
  <sql id="Column_List" >
    s.id, sys_id, s.sys_name, s.store_code, s.store_name, s.region, s.province_area, s.ascription, 
    s.ascription_sole, s.simple_code, s.simple_bar_code, s.stock_code, s.simple_name, s.brand, s.classify, 
    s.series, s.day_night, material, s.pieces_num, s.box_standard, s.stock_no, s.stock_num, s.tax_cost_price, 
    s.stock_price, s.create_time, s.remark, s.local_name
  </sql>
  <sql id="Query_Condition">
  	<if test="simpleCode != null and simpleCode != ''">
  		AND simple_code = #{simpleCode}
  	</if>
  	<if test="simpleBarCode != null and simpleBarCode != ''">
  		AND simple_bar_code = #{simpleBarCode}
  	</if>
  	<if test="sysId != null and sysId != ''">
  		AND sys_id = #{sysId}
  	</if>
  	<if test="sysName != null and sysName != ''">
  		AND sys_name = #{sysName}
  	</if>
  	<if test="storeCode != null and storeCode != ''">
  		AND store_code = #{storeCode}
  	</if>
  	<if test="storeName != null and storeName != ''">
  		AND store_name = #{storeName}
  	</if>
  	<if test="region != null and region != ''">
  		AND region = #{region}
  	</if>
  	<if test="series != null and series != ''">
  		AND series = #{series}
  	</if>
  	<if test="simpleName != null and simpleName != ''">
  		AND simple_name = #{simpleName}
  	</if>
  	<if test="brand != null and brand != ''">
  		AND brand = #{brand}
  	</if>
  	<if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
  		AND create_time &lt;= #{endDate}
  		AND create_time &gt;= #{startDate}
  	</if>
  	<if test="queryDate != null and queryDate != ''">
  		AND create_time = #{queryDate}
  	</if>
  </sql>
  <select id="selectByAnyColumn" resultMap = "BaseResultMap" parameterType="map">
  	SELECT ${column}
  	FROM db_stock
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <!-- 按门店分组 -->
  <select id="selectStoreStockModelByParam" resultMap="storeStockMap" parameterType="map">
  	SELECT sys_id, sys_name, store_code, store_name, stock_price, simple_bar_code, brand, stock_nums
  	FROM db_stock
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <!-- 按大区分组 -->
  <select id="selectRegionStockModelByParam" resultMap="regionStockMap" parameterType="map">
  	SELECT stock_price, stock_num, region, brand, sys_name, sys_id, store_code
  	FROM db_stock
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <!-- 按系统分组 -->
  <select id="selectSysStockModelByParam" resultMap="sysStockMap" parameterType="map">
  	SELECT stock_price, stock_num, region, brand, sys_name, sys_id, store_code
  	FROM db_stock
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <!-- 按省区分组 -->
  <select id="selectProvinceAreaStockModelByParam" resultMap="provinceAreaStockMap" parameterType="map">
  	SELECT stock_price, stock_num, region, brand, province_area, store_code, sys_id
  	FROM db_stock
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="map">
  	SELECT <include refid="Column_List"></include>
  	FROM db_stock s
  	INNER JOIN(
  		SELECT ID
  		FROM db_stock
	  	WHERE 1=1
	  	<include refid="Query_Condition"></include>
	  	<if test="pageNum != null and pageSize != null">
	  		LIMIT #{pageNum}, #{pageSize}
	  	</if>
  	) t ON(s.ID = t.ID)
  </select>
  <select id="selectCountByParam" resultType="int" parameterType="map">
  	SELECT COUNT(1)
  	FROM db_stock
  	WHERE 1=1
  	<include refid="Query_Condition"></include>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBySysId" parameterType="java.lang.String" >
    delete from db_stock
    where sys_id = #{sysId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.data.bean.Stock" >
    insert into db_stock (id, sys_id, sys_name, 
      store_code, store_name, region, 
      province_area, ascription, ascription_sole, 
      simple_code, simple_bar_code, stock_code, 
      simple_name, brand, classify, 
      series, day_night, material, 
      pieces_num, box_standard, stock_no, 
      stock_num, tax_cost_price, stock_price, 
      create_time, remark, local_name)
    values (#{id,jdbcType=INTEGER}, #{sysId,jdbcType=CHAR}, #{sysName,jdbcType=VARCHAR}, 
      #{storeCode,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{provinceArea,jdbcType=VARCHAR}, #{ascription,jdbcType=CHAR}, #{ascriptionSole,jdbcType=CHAR}, 
      #{simpleCode,jdbcType=VARCHAR}, #{simpleBarCode,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, 
      #{simpleName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{classify,jdbcType=CHAR}, 
      #{series,jdbcType=VARCHAR}, #{dayNight,jdbcType=VARCHAR}, #{material,jdbcType=VARCHAR}, 
      #{piecesNum,jdbcType=INTEGER}, #{boxStandard,jdbcType=VARCHAR}, #{stockNo,jdbcType=VARCHAR}, 
      #{stockNum,jdbcType=INTEGER}, #{taxCostPrice,jdbcType=DOUBLE}, #{stockPrice,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{localName,jdbcType=CHAR})
  </insert>
  <insert id="insertBatch" parameterType="list">
  	insert into db_stock (id, sys_id, sys_name, 
      store_code, store_name, region, 
      province_area, ascription, ascription_sole, 
      simple_code, simple_bar_code, stock_code, 
      simple_name, brand, classify, 
      series, day_night, material, 
      pieces_num, box_standard, stock_no, 
      stock_num, tax_cost_price, stock_price, 
      create_time, remark, local_name)
    values
    <foreach collection="list" item="stock" separator=",">
    (#{stock.id}, #{stock.sysId}, #{stock.sysName}, 
      #{stock.storeCode}, #{stock.storeName}, #{stock.region}, 
      #{stock.provinceArea}, #{stock.ascription}, #{stock.ascriptionSole}, 
      #{stock.simpleCode}, #{stock.simpleBarCode}, #{stock.stockCode}, 
      #{stock.simpleName}, #{stock.brand}, #{stock.classify}, 
      #{stock.series}, #{stock.dayNight}, #{stock.material}, 
      #{stock.piecesNum}, #{stock.boxStandard}, #{stock.stockNo}, 
      #{stock.stockNum}, #{stock.taxCostPrice}, #{stock.stockPrice}, 
      #{stock.createTime}, #{stock.remark}, #{stock.localName})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.Stock" >
    insert into db_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="sysName != null" >
        sys_name,
      </if>
      <if test="storeCode != null" >
        store_code,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="provinceArea != null" >
        province_area,
      </if>
      <if test="ascription != null" >
        ascription,
      </if>
      <if test="ascriptionSole != null" >
        ascription_sole,
      </if>
      <if test="simpleCode != null" >
        simple_code,
      </if>
      <if test="simpleBarCode != null" >
        simple_bar_code,
      </if>
      <if test="stockCode != null" >
        stock_code,
      </if>
      <if test="simpleName != null" >
        simple_name,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="series != null" >
        series,
      </if>
      <if test="dayNight != null" >
        day_night,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="piecesNum != null" >
        pieces_num,
      </if>
      <if test="boxStandard != null" >
        box_standard,
      </if>
      <if test="stockNo != null" >
        stock_no,
      </if>
      <if test="stockNum != null" >
        stock_num,
      </if>
      <if test="taxCostPrice != null" >
        tax_cost_price,
      </if>
      <if test="stockPrice != null" >
        stock_price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="localName != null" >
        local_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="sysName != null" >
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null" >
        #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="ascription != null" >
        #{ascription,jdbcType=CHAR},
      </if>
      <if test="ascriptionSole != null" >
        #{ascriptionSole,jdbcType=CHAR},
      </if>
      <if test="simpleCode != null" >
        #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null" >
        #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=CHAR},
      </if>
      <if test="series != null" >
        #{series,jdbcType=VARCHAR},
      </if>
      <if test="dayNight != null" >
        #{dayNight,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="piecesNum != null" >
        #{piecesNum,jdbcType=INTEGER},
      </if>
      <if test="boxStandard != null" >
        #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null" >
        #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="taxCostPrice != null" >
        #{taxCostPrice,jdbcType=DOUBLE},
      </if>
      <if test="stockPrice != null" >
        #{stockPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="localName != null" >
        #{localName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.Stock" >
    update db_stock
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="sysName != null" >
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="storeCode != null" >
        store_code = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null" >
        province_area = #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="ascription != null" >
        ascription = #{ascription,jdbcType=CHAR},
      </if>
      <if test="ascriptionSole != null" >
        ascription_sole = #{ascriptionSole,jdbcType=CHAR},
      </if>
      <if test="simpleCode != null" >
        simple_code = #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null" >
        simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null" >
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null" >
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=CHAR},
      </if>
      <if test="series != null" >
        series = #{series,jdbcType=VARCHAR},
      </if>
      <if test="dayNight != null" >
        day_night = #{dayNight,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="piecesNum != null" >
        pieces_num = #{piecesNum,jdbcType=INTEGER},
      </if>
      <if test="boxStandard != null" >
        box_standard = #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null" >
        stock_no = #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="stockNum != null" >
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="taxCostPrice != null" >
        tax_cost_price = #{taxCostPrice,jdbcType=DOUBLE},
      </if>
      <if test="stockPrice != null" >
        stock_price = #{stockPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="localName != null" >
        local_name = #{localName,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.Stock" >
    update db_stock
    set sys_id = #{sysId,jdbcType=CHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      store_code = #{storeCode,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      province_area = #{provinceArea,jdbcType=VARCHAR},
      ascription = #{ascription,jdbcType=CHAR},
      ascription_sole = #{ascriptionSole,jdbcType=CHAR},
      simple_code = #{simpleCode,jdbcType=VARCHAR},
      simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      classify = #{classify,jdbcType=CHAR},
      series = #{series,jdbcType=VARCHAR},
      day_night = #{dayNight,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      pieces_num = #{piecesNum,jdbcType=INTEGER},
      box_standard = #{boxStandard,jdbcType=VARCHAR},
      stock_no = #{stockNo,jdbcType=VARCHAR},
      stock_num = #{stockNum,jdbcType=INTEGER},
      tax_cost_price = #{taxCostPrice,jdbcType=DOUBLE},
      stock_price = #{stockPrice,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      local_name = #{localName,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>