<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.data.bean.SystemUserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_no" jdbcType="VARCHAR" property="workNo" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, work_no, role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_system_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据workNo查询角色 -->
  <select id="queryUserRoleByWorkNo" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"></include> 
  	FROM db_system_user_role 
  	WHERE work_no=#{workNo} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_system_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.SystemUserRole">
    insert into db_system_user_role (id, work_no, role_id
      )
    values (#{id,jdbcType=INTEGER}, #{workNo,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.SystemUserRole">
    insert into db_system_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workNo != null">
        work_no,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workNo != null">
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.SystemUserRole">
    update db_system_user_role
    <set>
      <if test="workNo != null">
        work_no = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where work_no = #{workNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.SystemUserRole">
    update db_system_user_role
    set work_no = #{workNo,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>