<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TemplateStoreMapper">
  <resultMap id="BaseResultMap" type="com.data.bean.TemplateStore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_code" jdbcType="VARCHAR" property="storeCode" />
    <result column="order_store_name" jdbcType="VARCHAR" property="orderStoreName" />
    <result column="return_store_name" jdbcType="VARCHAR" property="returnStoreName" />
    <result column="sale_store_name" jdbcType="VARCHAR" property="saleStoreName" />
    <result column="standard_store_name" jdbcType="VARCHAR" property="standardStoreName" />
    <result column="store_market" jdbcType="VARCHAR" property="storeMarket" />
    <result column="store_city" jdbcType="CHAR" property="storeCity" />
    <result column="sys_name" jdbcType="CHAR" property="sysName" />
    <result column="store_manager" jdbcType="CHAR" property="storeManager" />
    <result column="logistics_model" jdbcType="VARCHAR" property="logisticsModel" />
    <result column="practice_time" jdbcType="TIMESTAMP" property="practiceTime" />
    <result column="distribution_code" jdbcType="VARCHAR" property="distributionCode" />
    <result column="distribution_name" jdbcType="VARCHAR" property="distributionName" />
    <result column="distribution_user" jdbcType="CHAR" property="distributionUser" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="province_area" jdbcType="VARCHAR" property="provinceArea" />
    <result column="ascription" jdbcType="CHAR" property="ascription" />
    <result column="ascription_sole" jdbcType="CHAR" property="ascriptionSole" />
    <result column="sys_id" jdbcType="CHAR" property="sysId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, store_code, order_store_name, return_store_name, sale_store_name, standard_store_name, 
    store_market, store_city, sys_name, store_manager, logistics_model, practice_time, distribution_code, 
    distribution_name, distribution_user, region, province_area, ascription, ascription_sole, sys_id
  </sql>
  <sql id="Column_List">
    s.id, s.store_code, s.order_store_name, s.return_store_name, s.sale_store_name, s.standard_store_name, 
    s.store_market, s.store_city, s.sys_name, s.store_manager, s.logistics_model, s.practice_time, s.distribution_code, 
    s.distribution_name, s.distribution_user, s.region, s.province_area, s.ascription, s.ascription_sole, s.sys_id
  </sql>
  <sql id="Query_Condition">
  	<if test="region != '' and region != null">
  		AND region = #{region}
  	</if>
  	<if test="provinceArea != '' and provinceArea != null">
  		AND province_area = #{provinceArea}
  	</if>
  	<if test="distributionName != '' and distributionName != null">
  		AND distribution_name = #{distributionName}
  	</if>
  	<if test="distributionCode != '' and distributionCode != null">
  		AND distribution_code = #{distributionCode}
  	</if>
  	<if test="storeCode != '' and storeCode != null">
  		AND store_code = #{storeCode}
  	</if>
  	<if test="sysName != null and sysName != ''">
  		AND sys_name = #{sysName}
  	</if>
  	<if test="sysId != null and sysId != ''">
  		AND sys_id = #{sysId} 
  	</if>
  </sql>
  <select id="selectByParam" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Column_List"></include>
  	FROM db_template_store s
  	INNER JOIN (
  		SELECT id
  		FROM db_template_store
  		WHERE 1=1
  		<include refid="Query_Condition"></include>
  		<if test="pageNum != null and pageSize != Size">
  			LIMIT #{pageNum}, #{pageSize}
  		</if>	
  	) ts ON(ts.id = s.id)
  </select>
  <select id="selectCountByParam" parameterType="map" resultType="int">
  	SELECT COUNT(1)
  	FROM db_template_store 
  	WHERE 1=1
  	<include refid="Query_Condition"></include>	
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_template_store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_template_store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.TemplateStore">
    insert into db_template_store (id, store_code, order_store_name, 
      return_store_name, sale_store_name, standard_store_name, 
      store_market, store_city, sys_name, 
      store_manager, logistics_model, practice_time, 
      distribution_code, distribution_name, distribution_user, 
      region, province_area, ascription, 
      ascription_sole, sys_id)
    values (#{id,jdbcType=INTEGER}, #{storeCode,jdbcType=VARCHAR}, #{orderStoreName,jdbcType=VARCHAR}, 
      #{returnStoreName,jdbcType=VARCHAR}, #{saleStoreName,jdbcType=VARCHAR}, #{standardStoreName,jdbcType=VARCHAR}, 
      #{storeMarket,jdbcType=VARCHAR}, #{storeCity,jdbcType=CHAR}, #{sysName,jdbcType=CHAR}, 
      #{storeManager,jdbcType=CHAR}, #{logisticsModel,jdbcType=VARCHAR}, #{practiceTime,jdbcType=TIMESTAMP}, 
      #{distributionCode,jdbcType=VARCHAR}, #{distributionName,jdbcType=VARCHAR}, #{distributionUser,jdbcType=CHAR}, 
      #{region,jdbcType=VARCHAR}, #{provinceArea,jdbcType=VARCHAR}, #{ascription,jdbcType=CHAR}, 
      #{ascriptionSole,jdbcType=CHAR}, #{sysId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.TemplateStore">
    insert into db_template_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeCode != null">
        store_code,
      </if>
      <if test="orderStoreName != null">
        order_store_name,
      </if>
      <if test="returnStoreName != null">
        return_store_name,
      </if>
      <if test="saleStoreName != null">
        sale_store_name,
      </if>
      <if test="standardStoreName != null">
        standard_store_name,
      </if>
      <if test="storeMarket != null">
        store_market,
      </if>
      <if test="storeCity != null">
        store_city,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="storeManager != null">
        store_manager,
      </if>
      <if test="logisticsModel != null">
        logistics_model,
      </if>
      <if test="practiceTime != null">
        practice_time,
      </if>
      <if test="distributionCode != null">
        distribution_code,
      </if>
      <if test="distributionName != null">
        distribution_name,
      </if>
      <if test="distributionUser != null">
        distribution_user,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="provinceArea != null">
        province_area,
      </if>
      <if test="ascription != null">
        ascription,
      </if>
      <if test="ascriptionSole != null">
        ascription_sole,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeCode != null">
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="orderStoreName != null">
        #{orderStoreName,jdbcType=VARCHAR},
      </if>
      <if test="returnStoreName != null">
        #{returnStoreName,jdbcType=VARCHAR},
      </if>
      <if test="saleStoreName != null">
        #{saleStoreName,jdbcType=VARCHAR},
      </if>
      <if test="standardStoreName != null">
        #{standardStoreName,jdbcType=VARCHAR},
      </if>
      <if test="storeMarket != null">
        #{storeMarket,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null">
        #{storeCity,jdbcType=CHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="storeManager != null">
        #{storeManager,jdbcType=CHAR},
      </if>
      <if test="logisticsModel != null">
        #{logisticsModel,jdbcType=VARCHAR},
      </if>
      <if test="practiceTime != null">
        #{practiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributionCode != null">
        #{distributionCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionName != null">
        #{distributionName,jdbcType=VARCHAR},
      </if>
      <if test="distributionUser != null">
        #{distributionUser,jdbcType=CHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null">
        #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="ascription != null">
        #{ascription,jdbcType=CHAR},
      </if>
      <if test="ascriptionSole != null">
        #{ascriptionSole,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.TemplateStore">
    update db_template_store
    <set>
      <if test="storeCode != null">
        store_code = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="orderStoreName != null">
        order_store_name = #{orderStoreName,jdbcType=VARCHAR},
      </if>
      <if test="returnStoreName != null">
        return_store_name = #{returnStoreName,jdbcType=VARCHAR},
      </if>
      <if test="saleStoreName != null">
        sale_store_name = #{saleStoreName,jdbcType=VARCHAR},
      </if>
      <if test="standardStoreName != null">
        standard_store_name = #{standardStoreName,jdbcType=VARCHAR},
      </if>
      <if test="storeMarket != null">
        store_market = #{storeMarket,jdbcType=VARCHAR},
      </if>
      <if test="storeCity != null">
        store_city = #{storeCity,jdbcType=CHAR},
      </if>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="storeManager != null">
        store_manager = #{storeManager,jdbcType=CHAR},
      </if>
      <if test="logisticsModel != null">
        logistics_model = #{logisticsModel,jdbcType=VARCHAR},
      </if>
      <if test="practiceTime != null">
        practice_time = #{practiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributionCode != null">
        distribution_code = #{distributionCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionName != null">
        distribution_name = #{distributionName,jdbcType=VARCHAR},
      </if>
      <if test="distributionUser != null">
        distribution_user = #{distributionUser,jdbcType=CHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="provinceArea != null">
        province_area = #{provinceArea,jdbcType=VARCHAR},
      </if>
      <if test="ascription != null">
        ascription = #{ascription,jdbcType=CHAR},
      </if>
      <if test="ascriptionSole != null">
        ascription_sole = #{ascriptionSole,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.TemplateStore">
    update db_template_store
    set store_code = #{storeCode,jdbcType=VARCHAR},
      order_store_name = #{orderStoreName,jdbcType=VARCHAR},
      return_store_name = #{returnStoreName,jdbcType=VARCHAR},
      sale_store_name = #{saleStoreName,jdbcType=VARCHAR},
      standard_store_name = #{standardStoreName,jdbcType=VARCHAR},
      store_market = #{storeMarket,jdbcType=VARCHAR},
      store_city = #{storeCity,jdbcType=CHAR},
      sys_name = #{sysName,jdbcType=CHAR},
      sys_id = #{sysId,jdbcType=CHAR},
      store_manager = #{storeManager,jdbcType=CHAR},
      logistics_model = #{logisticsModel,jdbcType=VARCHAR},
      practice_time = #{practiceTime,jdbcType=TIMESTAMP},
      distribution_code = #{distributionCode,jdbcType=VARCHAR},
      distribution_name = #{distributionName,jdbcType=VARCHAR},
      distribution_user = #{distributionUser,jdbcType=CHAR},
      region = #{region,jdbcType=VARCHAR},
      province_area = #{provinceArea,jdbcType=VARCHAR},
      ascription = #{ascription,jdbcType=CHAR},
      ascription_sole = #{ascriptionSole,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>