<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TemplateSupplyMapper">
  <resultMap id="BaseResultMap" type="com.data.bean.TemplateSupply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="login_user_name" jdbcType="VARCHAR" property="loginUserName" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="controller_name" jdbcType="VARCHAR" property="controllerName" />
    <result column="is_val" jdbcType="BIT" property="isVal" />
    <result column="sys_id" jdbcType="CHAR" property="sysId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, region, sys_name, url, login_user_name, login_password, company_code, controller_name, sys_id
    is_val, parent_id, remark
  </sql>
  <sql id="Column_List">
    s.id, region, s.sys_name, s.url, s.login_user_name, s.login_password, s.company_code, s.controller_name, 
    s.is_val, s.sys_id, s.parent_id, s.remark
  </sql>
  <sql id="Query_Condition">
  	<if test="id != null">
  		AND id = #{id}
  	</if>
  	<if test="sysName != null and sysName != ''">
  		AND sys_name = #{sysName}
  	</if>
  	<if test="sysId != null and sysId != ''">
  		AND sys_id = #{sysId}
  	</if>
  	<if test="region != null and region != ''">
  		AND region = #{region}
  	</if>
  </sql>
  
  <!-- 查询供应商id集合 -->
  <select id="querySupplyIds" resultType="int">
  	SELECT id FROM db_template_supply WHERE is_val = 1
  </select>
  
  <select id="selectAnyColumn" resultType="map">
  	SELECT ${column}
  	FROM db_template_supply
  	WHERE 1=1 
  	<if test="isVal != null">
  		AND is_val = #{isVal}
  	</if>
  </select>
  <select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Column_List"></include>
  	FROM db_template_supply s
  	INNER JOIN (
  		SELECT id
  		FROM db_template_supply 
  		WHERE 1=1 AND is_val = 1
  		<include refid="Query_Condition"></include>
  		<if test="pageNum != null and pageSize != null" >
  			LIMIT #{pageNum}, #{pageSize}
  		</if>
  		
  	) ts ON(ts.id = s.id)
  </select>
  <select id="selectCountByCondition" parameterType="map" resultType="int">
  	SELECT COUNT(1)
  	FROM db_template_supply
  	WHERE 1=1 AND is_val = 1
  	<include refid="Query_Condition"></include>
  </select>
  
  <!-- 按id查询供应商信息 -->
  <select id="querySupplyInfoById" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"></include> 
  	FROM db_template_supply WHERE id=#{id}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_template_supply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_template_supply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.TemplateSupply">
    insert into db_template_supply (id, region, sys_name, 
      url, login_user_name, login_password, 
      company_code, controller_name, is_val, sys_id, parent_id, remark
      )
    values (#{id,jdbcType=INTEGER}, #{region,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{loginUserName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{companyCode,jdbcType=VARCHAR}, #{controllerName,jdbcType=VARCHAR}, #{isVal,jdbcType=BIT},
      #{sysId,jdbcType=CHAR}, #{parentId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertBatch" parameterType="list">
    insert into db_template_supply (region, sys_name, 
      url, login_user_name, login_password, 
      company_code, controller_name, is_val, sys_id, parent_id, remark
      )
    values 
      <foreach collection="list" item="supply" separator=",">
	    (#{supply.region,jdbcType=VARCHAR}, #{supply.sys_name,jdbcType=VARCHAR}, 
	      #{supply.url,jdbcType=VARCHAR}, #{supply.login_user_name,jdbcType=VARCHAR}, #{supply.login_password,jdbcType=VARCHAR}, 
	      #{supply.company_code,jdbcType=VARCHAR}, #{supply.controller_name,jdbcType=VARCHAR}, #{supply.is_val,jdbcType=BIT},
	      #{supply.sys_id,jdbcType=CHAR}, #{supply.parent_id,jdbcType=VARCHAR}, #{supply.remark,jdbcType=VARCHAR}
	      )
      </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.data.bean.TemplateSupply">
    insert into db_template_supply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="loginUserName != null">
        login_user_name,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="controllerName != null">
        controller_name,
      </if>
      <if test="isVal != null">
        is_val,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="parentId != null">
      	parent_id,
      </if>
      <if test="remark != null">
      	remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="loginUserName != null">
        #{loginUserName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="controllerName != null">
        #{controllerName,jdbcType=VARCHAR},
      </if>
      <if test="isVal != null">
        #{isVal,jdbcType=BIT},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="parentId != null">
      	#{parentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
      	#{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.TemplateSupply">
    update db_template_supply
    <set>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="loginUserName != null">
        login_user_name = #{loginUserName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="controllerName != null">
        controller_name = #{controllerName,jdbcType=VARCHAR},
      </if>
      <if test="isVal != null">
        is_val = #{isVal,jdbcType=BIT},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="parentId != null">
      	parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
      	remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.TemplateSupply">
    update db_template_supply
    set region = #{region,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      login_user_name = #{loginUserName,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      controller_name = #{controllerName,jdbcType=VARCHAR},
      is_val = #{isVal,jdbcType=BIT},
      sys_id = #{sysId, jdbcType=CHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>