<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TemplateProductMapper">
  <resultMap id="BaseResultMap" type="com.data.bean.TemplateProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="sys_id" jdbcType="CHAR" property="sysId" />
    <result column="sys_name" jdbcType="CHAR" property="sysName" />
    <result column="simple_code" jdbcType="VARCHAR" property="simpleCode" />
    <result column="simple_bar_code" jdbcType="VARCHAR" property="simpleBarCode" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
    <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
    <result column="brand" jdbcType="CHAR" property="brand" />
    <result column="classify" jdbcType="CHAR" property="classify" />
    <result column="series" jdbcType="CHAR" property="series" />
    <result column="func" jdbcType="CHAR" property="func" />
    <result column="material" jdbcType="CHAR" property="material" />
    <result column="pieces_num" jdbcType="INTEGER" property="piecesNum" />
    <result column="box_standard" jdbcType="VARCHAR" property="boxStandard" />
    <result column="stock_no" jdbcType="VARCHAR" property="stockNo" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="exclude_tax_price" jdbcType="DECIMAL" property="excludeTaxPrice" />
    <result column="include_tax_price" jdbcType="DECIMAL" property="includeTaxPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, sys_name, simple_code, simple_bar_code, stock_code, simple_name, 
    standard_name, brand, classify, series, func, material, pieces_num, box_standard, stock_no, 
    sell_price, exclude_tax_price, include_tax_price, sys_id
  </sql>
  <sql id="Column_List">
    p.id, p.product_id, p.sys_name, p.simple_code, p.simple_bar_code, p.stock_code, p.simple_name, 
    p.standard_name, p.brand, p.classify, p.series, p.func, p.material, p.pieces_num, p.box_standard, p.stock_no, 
    p.sell_price, p.exclude_tax_price, p.include_tax_price, p.sys_id
  </sql>
  <sql id="Query_Condition">
  	<if test="sysId != null and sysId != ''">
  		AND sys_id = #{sysId}
  	</if>
  	<if test="productId != null and productId != ''">
  		AND product_id = #{productId}
  	</if>
  	<if test="simpleName != null and simpleName != ''">
  		AND simple_name = #{simpleName}
  	</if>
  	<if test="standardName != null and standardName != ''">
  		AND standard_name = #{standardName}
  	</if>
  	<if test="simpleBarCode != null and simpleBarCode != ''">
  		AND simple_bar_code = #{simpleBarCode}
  	</if>
  	<if test="simpleCode != null and simpleCode != ''">
  		AND simple_code = #{simpleCode}
  	</if>
  	<if test="stockCode != null and stockCode != ''">
  		AND stock_code = #{stockCode}
  	</if>
  	<if test="stockNo != null and stockNo != ''">
  		AND stock_no = #{stockNo}
  	</if>
  	<if test="brand != null and brand != ''">
  		AND brand = #{brand}
  	</if>
  	<if test="classify != null and classify != ''">
  		AND classify = #{classify}
  	</if>
  	<if test="series != null and series != ''">
  		AND series = #{series}
  	</if>
  	<if test="sysName != null and sysName != ''">
  		AND sys_name = #{sysName}
  	</if>
  </sql>
  <!-- 获取品牌菜单 -->
  <select id="selectBrandMenu" parameterType="java.lang.String" resultType="java.lang.String">
  	SELECT DISTINCT brand
  	FROM db_template_product 
	WHERE sys_id = #{sysId}
  </select>
  <select id="selectByParam" parameterType="map" resultMap="BaseResultMap">
    SELECT 
    <include refid="Column_List" />
    FROM db_template_product p
    INNER JOIN (
    	SELECT id 
    	FROM db_template_product
    	WHERE 1=1
    	<include refid="Query_Condition"></include>
    	<if test="pageNum != null and pageSize != null">
    		LIMIT #{pageNum}, #{pageSize}
    	</if>
    ) t ON(p.id = t.id)
  </select>
  
  <!-- 查询单品模板列表 -->
  <select id="queryProductTemplate" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"></include> 
  	FROM db_template_product 
  </select>
  
  <select id="selectCountByParam" parameterType="map" resultType="int">
    select COUNT(1)
    from db_template_product
    where 1=1
    <include refid="Query_Condition"></include>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_template_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 按id查询产品信息 -->
  <select id="queryProductInfoById" parameterType="map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"></include> 
  	FROM db_template_product WHERE id=#{id}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_template_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.data.bean.TemplateProduct">
    insert into db_template_product (id, product_id, sys_name, 
      simple_code, simple_bar_code, stock_code, 
      simple_name, standard_name, brand, 
      classify, series, func, material, 
      pieces_num, box_standard, stock_no, 
      sell_price, exclude_tax_price, include_tax_price, sys_id
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}, #{sysName,jdbcType=CHAR}, 
      #{simpleCode,jdbcType=VARCHAR}, #{simpleBarCode,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, 
      #{simpleName,jdbcType=VARCHAR}, #{standardName,jdbcType=VARCHAR}, #{brand,jdbcType=CHAR}, 
      #{classify,jdbcType=CHAR}, #{series,jdbcType=CHAR}, #{func,jdbcType=CHAR}, #{material,jdbcType=CHAR}, 
      #{piecesNum,jdbcType=INTEGER}, #{boxStandard,jdbcType=VARCHAR}, #{stockNo,jdbcType=VARCHAR}, 
      #{sellPrice,jdbcType=DECIMAL}, #{excludeTaxPrice,jdbcType=DECIMAL}, #{includeTaxPrice,jdbcType=DECIMAL},
      #{sysId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.data.bean.TemplateProduct">
    insert into db_template_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="simpleCode != null">
        simple_code,
      </if>
      <if test="simpleBarCode != null">
        simple_bar_code,
      </if>
      <if test="stockCode != null">
        stock_code,
      </if>
      <if test="simpleName != null">
        simple_name,
      </if>
      <if test="standardName != null">
        standard_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="classify != null">
        classify,
      </if>
      <if test="series != null">
        series,
      </if>
      <if test="func != null">
        func,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="piecesNum != null">
        pieces_num,
      </if>
      <if test="boxStandard != null">
        box_standard,
      </if>
      <if test="stockNo != null">
        stock_no,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="excludeTaxPrice != null">
        exclude_tax_price,
      </if>
      <if test="includeTaxPrice != null">
        include_tax_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=CHAR},
      </if>
      <if test="simpleCode != null">
        #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null">
        #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null">
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=CHAR},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=CHAR},
      </if>
      <if test="series != null">
        #{series,jdbcType=CHAR},
      </if>
      <if test="func != null">
        #{func,jdbcType=CHAR},
      </if>
      <if test="material != null">
        #{material,jdbcType=CHAR},
      </if>
      <if test="piecesNum != null">
        #{piecesNum,jdbcType=INTEGER},
      </if>
      <if test="boxStandard != null">
        #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null">
        #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="excludeTaxPrice != null">
        #{excludeTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="includeTaxPrice != null">
        #{includeTaxPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.bean.TemplateProduct">
    update db_template_product
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=CHAR},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=CHAR},
      </if>
      <if test="simpleCode != null">
        simple_code = #{simpleCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleBarCode != null">
        simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null">
        standard_name = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=CHAR},
      </if>
      <if test="classify != null">
        classify = #{classify,jdbcType=CHAR},
      </if>
      <if test="series != null">
        series = #{series,jdbcType=CHAR},
      </if>
      <if test="func != null">
        func = #{func,jdbcType=CHAR},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=CHAR},
      </if>
      <if test="piecesNum != null">
        pieces_num = #{piecesNum,jdbcType=INTEGER},
      </if>
      <if test="boxStandard != null">
        box_standard = #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null">
        stock_no = #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="excludeTaxPrice != null">
        exclude_tax_price = #{excludeTaxPrice,jdbcType=DECIMAL},
      </if>
      <if test="includeTaxPrice != null">
        include_tax_price = #{includeTaxPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.bean.TemplateProduct">
    update db_template_product
    set product_id = #{productId,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=CHAR},
      sys_id = #{sysId,jdbcType=CHAR},
      simple_code = #{simpleCode,jdbcType=VARCHAR},
      simple_bar_code = #{simpleBarCode,jdbcType=VARCHAR},
      stock_code = #{stockCode,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      standard_name = #{standardName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=CHAR},
      classify = #{classify,jdbcType=CHAR},
      series = #{series,jdbcType=CHAR},
      func = #{func,jdbcType=CHAR},
      material = #{material,jdbcType=CHAR},
      pieces_num = #{piecesNum,jdbcType=INTEGER},
      box_standard = #{boxStandard,jdbcType=VARCHAR},
      stock_no = #{stockNo,jdbcType=VARCHAR},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      exclude_tax_price = #{excludeTaxPrice,jdbcType=DECIMAL},
      include_tax_price = #{includeTaxPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>